#option-cakes:checked ~ #menu-cakes,
#option-drinks:checked ~ #menu-drinks{
	display: none;
}

input[type=radio] {
	display: none;
}

.menu{
	width: 100%;
	margin-bottom: 50px;
}

body {
	background: #3D1A11;
	font-family: serif;
	margin: 0;
	text-align: center;
}


label {

	background: center 0.5em no-repeat #563429;
	background-size: 4em;
	color: white;
	display: block;
	font-size: 75%;
	padding: 4em 0 1em;
	text-transform: uppercase;


	width: 50%;
	position: fixed;
	bottom: 0;
	z-index: 1;
}


label[for=option-cakes] {
	background-image: url(img/icon-cakes.svg);
	left: 0;
}

label[for=option-drinks] {
	background-image: url(img/icon-drinks.svg);
	right: 0;
}

:checked + label {
	background-color: #E4876D;
}


