<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="br.com.web-app" version="0.0.1"
	xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>web-app</name>
	<description>
		The Simple Web App
	</description>
	<author email="robson.o.d@gmail.com"
		href="https://github.com/robsonoduarte/learn-cordova/tree/master/web-app">
		Robson Duarte
	</author>
</widget>